@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:300,400,500');
@import url('normalize.css');

:root {
        --gray: #7B7D7F;
        --gold: #ffd700;
        --white: #FFFFFF;
        --dark-blue: #55637F;
        --light-gray: #C5C8CC;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}
 
::-webkit-scrollbar-thumb {
  background: var(--light-gray);
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

body {
        font-family: 'Fira Sans Condensed', sans-serif;
        max-width: 100%;
}

header {
        z-index: 3;
        position: absolute;
        display: flex;
        flex-flow: row nowrap;
        background-color: transparent;
        top: 20px;
        left: 0;
        right: 0;
        padding: 0px 50px;
}

main {
        z-index: 2;
        position: relative;
        background-color: var(--white);
        margin-bottom: 100px;
        box-shadow: 0px 0px 15px #434343;
}

footer  {
        z-index: 1;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100px;
        background-color: var(--dark-blue);
        display: flex;
        align-items: center;
}

a {
        color: black;
}

#main-menu {
        display: none;
}

@media only screen and (min-width: 768px) {
        #main-menu {
                display: block;
        }

        #main-menu ul {
                margin: 0;
                padding: 0;
                list-style: none;
        }

        #main-menu ul li {
                display: inline-block;

        }

        #main-menu ul li a {
                display: inline-block;
                text-decoration: none;
                color: var(--white);
                position: relative;
        }

        #main-menu ul li:not(:first-child) {
                margin-left: 20px;
        }

        #main-menu ul li:not(:first-child) > a:after{
                content: "";
                position: absolute;
                margin-top: 5px;
                right: 0;
                display: block;
                width: 0;
                height: 2px;
                background-color: var(--gold);
                transition: width .2s ease;
                -web-kit-transition: width .2s ease;
        }

        #main-menu ul li:not(:first-child) > a:hover:after{
                content: "";
                width: 100%;
                left: 0;
        }

}
/*#main-banner img{
        object-fit: cover;
        width: 100%;
        height: 650px;
}*/

#main-banner {
        color: var(--white);
        min-height: 600px;
        width: 100%;
        background: var(--dark-blue); 
        display: flex;
        align-items: center;
        justify-content: center;
}

.avatar-logo {
        width: 70px;
        height: 70px;
        border-radius: 35px;
        transition: box-shadow .3s ease-in-out;
}

.avatar-logo:hover {
        box-shadow: 0px 0px 10px var(--gold);
}

.logo {
        margin-right: 20px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    width: 100%;
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

#welcome {
        font-size: 100%;
        text-align: justify;
        padding: 50px 0 0 0;
        line-height: 150%;
}

#gradient-layer {
        background: linear-gradient(to bottom, var(--white), var(--light-gray));
        height: 100px;
        margin: 0;
}

#mobile-menu-button {
        z-index: 1;
        cursor: pointer;
        margin-left: auto;
}

#mobile-menu-button i.fas{
        color: white;
        line-height: 74px;
}

#mobile-menu.visible + #mobile-menu-button > i.fas{
        color: var(--gray);
}

#mobile-menu.visible + #mobile-menu-button{
        display: block!important;
        position: fixed;
        right: 50px;
}

@media only screen and (min-width: 768px) {
        #mobile-menu-button {
                display: none;
        }
}

#mobile-menu {
        box-shadow: 0px 0px 15px #434343;
        z-index: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        width: 0;
        background-color: var(--white);
        transition: width .5s ease;
}

#mobile-menu.visible {
        width: 75vw!important;
}

@media (min-width: 576px) {
        #mobile-menu.visible {
                width: 50vw!important;
        }
}

@media (min-width: 992px) {
        #mobile-menu.visible {
                width: 35vw!important;
        }
}

#mobile-menu ul {
        list-style: none;
        width: 0;
        padding: 0;
        margin: 0;
        transition: width .5s ease;
}

#mobile-menu.visible ul {
        width: auto;
}

#mobile-menu ul li a {
        text-decoration: none;
        color: var(--gray);
}

footer .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: var(--white);
}

@media only screen and (min-width: 768px) {
        footer .container {
                 flex-direction: row;
        }
}

.footer-text i.fas {
        color: #da0000;
}

.footer-text {
        text-align: center;
        margin-bottom: 5px;
} 

@media only screen and (min-width: 768px) {
        .footer-text {
                text-align: left;
                margin-bottom: 0;
        }        
}

.social-links {
        list-style: none;
        margin: 0;
        padding: 0;
}
.social-links li {
        display: inline-block;
}

.social-links li:not(:first-child){
        margin-left: 10px;
}

.social-links li a {
        color: var(--white);
        transition: color .5s ease;
}

.social-links li a:hover {
        color: var(--gold);
}

.show-xs {
        display: block;
}

@media only screen and (min-width: 380px) {
        .show-xs {
                display: none; 
        }
}

#pre-footer {
        background: var(--gray);
}

#pre-footer .container {
        display: flex;
        justify-content: flex-end;
        padding-top: 15px;
        padding-bottom: 15px;
}